*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }
  
  nav{
    background-color: hsl(223, 60%, 57%);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 10%;
    padding-right: 10%;
  }
  nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 10px 20px;
  }

  
  .logo{
    color: white;
    font-size: 30px;
  }
 

  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
  }
  nav ul li a:hover{
    color: rgb(9, 241, 253);
    transition: 0.3s;
  }
  .home{
    color: rgb(9, 241, 253);

  }

  button:hover{
    transform: scale(1.3);
    cursor: pointer;
  }
  
  p{
    color: white;
    display: flex;
    font-size: 30px;
  }

  .immerse{
    min-height: 100vh;
    background: url('https://img.freepik.com/free-photo/multi-colored-fish-swim-tropical-coral-reef-generated-by-ai_188544-34706.jpg?t=st=1696581887~exp=1696585487~hmac=4c16ab2eae5a1b6b908f0ef737fbf2a3e453c04ec8762afb17d6ff54ddff5ee5&w=1380') no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 170px;
  }

